/* 
    File:    src/app/globals.css
    Author:  UltronReal <business@ultronprivat.de>
    Co-Author: RappyTV <rappytv@rappytv.com>
    Date:    1 June 2023

    This program is free software: you can redistribute it and/or modify it
    under the terms of the GNU General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option) any
    later version.

    This program is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License along
    with this program. If not, see <https://www.gnu.org/licenses/>.

    © UPN Development 2021
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Fredoka+One&display=swap');

body {
    text-align: center;
    background:#141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e184d, #3f48a3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0e184d, #3f48a3);; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: 'Baloo Chettan 2', cursive;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 29px;
    color: azure;
}

h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

h5 {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0;
}

img {
    width: 30%;
    height: auto;
    padding-top: 0%;
}

a {
    text-decoration: none;
    font-family: 'Baloo Chettan 2', cursive;
    color: #46a3e2;
}

a,
a:link,
a:visited,
a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    text-decoration: underline;
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#form-wrap-top {
    background-color: rgb(10 12 16 / 34%);
    width: 25%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 35px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#form-wrap-bottom {
    background-color: rgba(179, 29, 29, 0.0);
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 35px 35px;
}

#error {
    color: #bb5454;
}

#login-form {
    padding: 0 60px;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 0 0 10px;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation,
input[type="password"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
}

input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span,
input[type="password"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}